/* CSS CASCADES, so lowest/most recent line of css gets taken */

/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

/* ELEMENT selector */
button {
    font-size: 30px;
    background-color: #a8dadc;
}

/* ANCHOR Tag */
h1,h2 {
    color: #1d3557;
}

/* ID selector */
#signup{
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

/* CLASS selector */
.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

/* DESCENDANT selector --> this takes any class .post and looks for <a> tags under*/
.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #e63946;
}


/* ADJACENT selector --> select only <p> that immediately come after an <h1> */
h2 + button {
    font-size: 20px;
    background-color: magenta;
}

/* DIRECT CHILD --> select only <a> that are direct children of <footer> */
footer > a {
    color: #457b9d;
}

/* ATTRIBUTE selector --> select all input elements w/ attribute 'type' = password */
input[type="password"] {
    color: greenyellow;
}

/* this is also an attribute selector, searching by id as your attribute */
a[href*="google"]{
    color: #1d3557;
}

/* PSUEDO classes --> ALL start with colon : 
in this example. whenever an <a> element (adjacent to class = .post) gets hovered over, CSS kicks in 
*/
.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: #02c39a;
}

/* PSUEDO Classes based on nth value */
.post:nth-of-type(2n){
    background-color: #dfe8dc;
}

/* PSUEDO ELEMENT (indicated by double color ::) */
h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
}

button {
    background-color: magenta !important;
}